.chat {
    min-height: 100vh;
    background: url(background.png) no-repeat center;
    display: grid;
    place-items: center;
}

.chat-container {
    width: 95%;
    height: 75vh;
    max-width: 1000px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.loading {
    font-size: 50px;
    color: white;
    font-weight: 600;
    font-style: italic;
    text-shadow: 0 0 10px lightgreen;
    -webkit-text-stroke: 1px black;
}

@media (max-width: 900px) {
    .chat-container {
        display: flex;
    }
    .loading {
        font-size: 30px;
    }
}